{% extends "base.html" %}
{% block title %}Restaurant List{% endblock %}
{% block head %}
    {{ super() }}
    <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }

      .score {
        display: block;
        font-size: 16px;
        position: relative;
        overflow: hidden;
      }
      
      .score-wrap {
        display: inline-block;
        position: relative;
        height: 19px;
      }
      
      .score .stars-active {
        color: #EEBD01;
        position: relative;
        z-index: 10;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
      }
      
      .score .stars-inactive {
        color: grey;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-text-stroke: initial;
        /* overflow: hidden; */
      }
  </style>
{% endblock %}
{% block content %}
      <h1>Artworks</h1>

      <div class="mb-4">
          <form action="/" method="GET">
              <button type="submit" class="btn btn-secondary">Clear</button>
          </form>
      </div>

      <table class="table">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Style</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <form action="{{ url_for('diningHall', name = 'Still-Life' )}}" method="GET">
                  <button type="submit" class="btn btn-primary">Still-Life</button>
              </form>
            </td>
            <td>
              <form action="{{ url_for('meat', name = 'Baroque' )}}" method="GET">
                  <button type="submit" class="btn btn-primary">Baroque</button>
              </form>
            </td>
            <td>
              <form action="{{ url_for('mealType', name = 'Breakfast' )}}" method="GET">
                  <button type="submit" class="btn btn-primary">Breakfast</button>
              </form>
            </td>
        </tr>
        <tr>
            <td>
                <form action="{{ url_for('diningHall', name = 'Portraits' )}}" method="GET">
                    <button type="submit" class="btn btn-primary">Portraits</button>
                </form>
            </td>
            <td>
              <form action="{{ url_for('meat', name = 'Beef' )}}" method="GET">
                  <button type="submit" class="btn btn-primary">Beef</button>
              </form>
            </td>
            <td>
              <form action="{{ url_for('mealType', name = 'Lunch' )}}" method="GET">
                  <button type="submit" class="btn btn-primary">Lunch</button>
              </form>
            </td>
        </tr>
        <tr>
            <td>
              <form action="{{ url_for('diningHall', name = 'Landscape Art' )}}" method="GET">
                <button type="submit" class="btn btn-primary">Landscape Art</button>
              </form>
            </td>
            <td>
              <form action="{{ url_for('meat', name = 'Pork' )}}" method="GET">
                  <button type="submit" class="btn btn-primary">Pork</button>
              </form>
            </td>
            <td>
              <form action="{{ url_for('mealType', name = 'Dinner' )}}" method="GET">
                  <button type="submit" class="btn btn-primary">Dinner</button>
              </form>
            </td>
        </tr>
        <tr>
            <td>
              <form action="{{ url_for('diningHall', name = 'Architectures' )}}" method="GET">
                <button type="submit" class="btn btn-primary">Architectures</button>
              </form>
            </td>
            <td></td>
            <td></td>
        </tr>

        </tbody>
    </table>
      {% if True %}
          <table class="table">
              <thead>
                  <tr>
                      <th>Work ID</th>
                      <th>Work Name</th>
                      <th>Artist ID</th>
                      <th>Style</th>
                      <th>Museum ID</th>
                      <th>Subject</th>
                  </tr>
              </thead>
              <tbody>
                {% for row in results %}
                  <tr>
                      <!-- Access the keys in each row dictionary -->
                      <td>{{ row['work_id'] }}</td>
                      <td>{{ row['work_name'] }}</td>
                      <td>{{ row['artist_id'] }}</td>
                      <td>{{ row['style'] }}</td>
                      <td>{{ row['museum_id'] }}</td>
                      <td>{{ row['subject'] }}</td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
          <div class="mb-4">
            <a href="{{ url_for('add_dhall_form') }}" class="btn btn-success">+ Add work</a>
          </div>
          <form method="POST" action="/add_dhall">
            <label>Name: <input name="name" required></label><br>
            <label>Ingredients: <input name="ingredients" required></label><br>
            <label>Station: <input name="station" required></label><br>
            <label>Location: <input name="location" required></label><br>
            <label>Meal Type: <input name="meal_type" required></label><br>
            <label>Item ID: <input name="item_id" type="number" required></label><br>
            <button type="submit">Add Dhall Item</button>
          </form>    
      {% else %}
          <p>No food items exist.  Select Add new restaurant to add one.</p>
      {% endif %}

{% endblock %}